<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en">
<head>

    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE" th:text="#{application.name}">Application
        name</title>

    <div layout:replace="layouts/default/fragments/headerinc :: headerinc"></div>

</head>
<body>
<header layout:replace="layouts/default/fragments/header :: header" class="header">Header</header>
<div class="container-full">
    <div layout:fragment="content">Container</div>
</div>
</body>
</html>
