/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.footer .container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
    text-align: center;
}

.footer .container .text-muted {
    margin: 20px 0;
}

body > .container {
    padding: 60px 15px 0;
}

body > .container-full {
    padding: 60px 15px 0;
}

.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
    position: absolute;
    margin-top: 4px \9;
    margin-left: 0px;
}

table.vacancy-list th.column-vacancy-url {
    width: 90px
}

.viewed {
    /*background-color: dimgray;*/
    color: #BBBBBB;
}

